<div class="apartment-card">
    <a href="/apartment-details/{{this._id}}">
        <img src="{{this.heroImage}}" alt="{{this.name}}">
    </a>
    <h2>{{this.name}}</h2>
    <p>Price: {{this.price}}</p>
    <p>Features: 
        {{#each this.dogFeatures}}
            {{this}}{{#unless @last}},{{/unless}}
        {{/each}}
    </p>
    <p>{{this.averageRating}}</p>
</div>