
    <div class="dog-card">
        <img src="{{this.image}}" alt="{{this.name}}">
        <div class="dog-text">
            <h4 id="dog-title">{{this.name}}</h4>
            <div>
                <p class="dog-para">Breed: {{this.breed}}</p>
                <p class="dog-para">Age: {{this.age}}</p>
                <p class="dog-para">Character:
                    {{#each this.character}}
                    {{this}}{{#unless @last}},{{/unless}}
                    {{/each}}
                </p>
                <div class="link-container">
                    <a class="edit-button" href="/edit-dog/{{_id}}">Edit</a>
                    <form action="/delete-dog/{{this._id}}" method="POST">
                        <button id="delete-dog-button" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>







