<div class="review-card">
    <h2>{{this.dog.name}}'s review of {{this.apartment.name}}</h2>
    <div id="review-contents">
        <p>Rating: {{this.rating}}</p>
        <p>Pros: {{this.pros}}</p>
        <p>Cons: {{this.cons}}</p>
    </div>
</div>