<p class ="form-title">Edit {{dog.name}}'s Profile</p>

<div class="add-form">
<form action="/edit-dog/{{dog._id}}" method="post" enctype="multipart/form-data">
  <label>Name:
    <input type="text" name="name" value="{{dog.name}}" />
  </label>

  <label>Breed:
    <input type="text" name="breed" value="{{dog.breed}}" />
  </label>

  <label>Age:
    <select name="age">
      <option value="{{dog.age}}">{{dog.age}}</option>
      <option value="Puppy">Puppy</option> 
      <option value="Teen">Teen</option>
      <option value="Mature">Mature</option>
      <option value="Retired">Retired</option>
    </select>
  </label>

  <label>Current Image:</label>
  <img src="{{dog.image}}" alt="{{dog.name}}'s Image" width="200px">
  <input type="hidden" name="existingImage" value="{{dog.image}}" />

  <label>New Image:</label>
    <input type="file" name="image" />
    <p class="sub-text">*If you want to keep your current image, no need to choose a new file</p>

  <label>Character:</label>
  <div id="character">
        <label><input type="checkbox" name="character" value="Energetic"> Energetic</label>
        <label><input type="checkbox" name="character" value="Friendly"> Friendly</label>
        <label><input type="checkbox" name="character" value="Quiet"> Quiet</label>
        <label><input type="checkbox" name="character" value="Playful"> Playful</label>
        <label><input type="checkbox" name="character" value="Affectionate"> Affectionate</label>
        <label><input type="checkbox" name="character" value="Shy"> Shy</label>
  </div>
  <input type="submit" value="Save Changes">
</form>
</div>