<h2 class="form-title">Edit {{dog.name}}'s Profile</h2>

<div class="add-form">
  <form action="/edit-dog/{{dog._id}}" method="post" enctype="multipart/form-data">
    <label>
      <input type="text" name="name" value="{{dog.name}}" />
    </label>
  
    <label>
      <input type="text" name="breed" value="{{dog.breed}}" />
    </label>
  
    <label>
      <select name="age">
        <option value="Puppy" {{#if ageObj.Puppy}}selected{{/if}}>Puppy</option>
        <option value="Teen" {{#if ageObj.Teen}}selected{{/if}}>Teen</option>
        <option value="Mature" {{#if ageObj.Mature}}selected{{/if}}>Mature</option>
        <option value="Retired" {{#if ageObj.Retired}}selected{{/if}}>Retired</option>
      </select>
    </label>
  
    <label></label>
    <img id="dog-image" src="{{dog.image}}" alt="{{dog.name}}'s Image" width="200px">
    <input type="hidden" name="existingImage" value="{{dog.image}}" />
    <p id="image-instructions">If you want to keep your current image, no need to choose a new file</p>
  
    <label></label>
      <input type="file" name="image" />
  
    <label></label>
    <div class="checkbox-container">
      <label><input type="checkbox" name="character" value="Energetic" {{#if characterObj.Energetic}}checked{{/if}}> Energetic</label>
      <label><input type="checkbox" name="character" value="Friendly" {{#if characterObj.Friendly}}checked{{/if}}> Friendly</label>
      <label><input type="checkbox" name="character" value="Quiet" {{#if characterObj.Quiet}}checked{{/if}}> Quiet</label>
      <label><input type="checkbox" name="character" value="Playful" {{#if characterObj.Playful}}checked{{/if}}> Playful</label>
      <label><input type="checkbox" name="character" value="Affectionate" {{#if characterObj.Affectionate}}checked{{/if}}> Affectionate</label>
      <label><input type="checkbox" name="character" value="Shy" {{#if characterObj.Shy}}checked{{/if}}> Shy</label>
    </div>
  
    <button id="save-changes-button" type="submit">Save changes</button>
  </form>
</div>

