<h1>Edit Your Dog: {{dog.name}}</h1>

<form action="/edit-dog/{{dog._id}}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="{{dog.name}}" required>

    <label for="breed">Breed:</label>
    <input type="text" id="breed" name="{{dog.breed}}" required>

    <label for="age">Age:</label>
    <select id="age" name="{{dog.age}}" required>
        <option value="">Please choose an option</option>
        <option value="puppy">Puppy</option>
        <option value="teen">Teen</option>
        <option value="mature">Mature</option>
        <option value="retired">Retired</option>
    </select>

    <label for="image">Image URL:</label>
    <input type="text" id="image" name="{{dog.image}}" required>

    <label for="character">Character:</label>
    <div id="character">
        <label><input type="checkbox" name="{{dog.character}}" value="energetic"> Energetic</label>
        <label><input type="checkbox" name="{{dog.character}}" value="friendly"> Friendly</label>
        <label><input type="checkbox" name="{{dog.character}}" value="quiet"> Quiet</label>
        <label><input type="checkbox" name="{{dog.character}}" value="playful"> Playful</label>
        <label><input type="checkbox" name="{{dog.character}}" value="affectionate"> Affectionate</label>
        <label><input type="checkbox" name="{{dog.character}}" value="shy"> Shy</label>
    </div>

    <input type="submit" value="Save Changes">
</form>