<h2>Edit {{dog.name}}'s Profile</h2>

<form action="/edit-dog/{{dog._id}}" method="post">
  <label>Name:
    <input type="text" name="name" value="{{dog.name}}" />
  </label>

  <label>Breed:
    <input type="text" name="breed" value="{{dog.breed}}" />
  </label>

  <label>Age:
    <select name="age">
      <option value="{{dog.age}}">{{dog.age}}</option>
      <option value="Puppy">Puppy</option>
      <option value="Teen">Teen</option>
      <option value="Mature">Mature</option>
      <option value="Retired">Retired</option>
    </select>
  </label>

  <label>Image:
    <input type="text" name="image" value="{{dog.image}}" />
  </label>

  <label>Character:</label>
  <input type="checkbox" name="character" value="Energetic" {{#if dog.character.Energetic}}checked{{/if}}> Energetic
  <input type="checkbox" name="character" value="Friendly" {{#if dog.character.Friendly}}checked{{/if}}> Friendly
  <input type="checkbox" name="character" value="Quiet" {{#if dog.character.Quiet}}checked{{/if}}> Quiet
  <input type="checkbox" name="character" value="Playful" {{#if dog.character.Playful}}checked{{/if}}> Playful
  <input type="checkbox" name="character" value="Affectionate" {{#if dog.character.Affectionate}}checked{{/if}}> Affectionate
  <input type="checkbox" name="character" value="Shy" {{#if dog.character.Shy}}checked{{/if}}> Shy

  <button type="submit">Save changes</button>
</form>